/* ========== RESET CSS ========== */

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

button, input, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

/*
fieldset {
  border: none;
}
*/

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    box-shadow: 0 0 0 1000px transparent inset;

    -webkit-text-fill-color: var(--color-white);
    caret-color: #fff;

    transition: background-color 9999s ease-in-out 0s;
}
