hrml, body {
  margin: 0;
  width: 100%;
  min-height: 100dvh;
}

body {
    background-color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    justify-content:center;
}

.fullscreen {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside-left {
    margin-right: 500px;
    background-color: black;
    margin-bottom: 100px;
    padding-top: 40dvh;
    padding-bottom: 40dvh;
    border-radius: 30px;
}

.hr-left {
    background-color: gray;
    opacity: 70%;
    border-radius: 30px;
    height: 99.5dvh;
    width: 1.5px;
    position: absolute;
    left: 500px;
}


.aside-right {
    margin-left: 500px;
    background-color: black;
    margin-bottom: 100px;
    padding-top: 40dvh;
    padding-bottom: 40dvh;
    border-radius: 30px;
}

.hr-right {
    background-color: gray;
    opacity: 70%;
    border-radius: 30px;
    height: 99.5dvh;
    width: 1.5px;
    position: absolute;
    right: 500px;
}

.header-content {
    left: 50px;
}

.main-title {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: auto;
    margin: 0%;
    font-size: 200px;
}

.main-title-icon {
    position: absolute;
    right: 170px;
    width: 100px;
}

.main-title-hr {
    position: absolute;
    background-color: white;
    color: white;
    width: 250px;
    margin: 0;
    margin-left: 0;
    height: 3px;
    top: 120px;
    left: 155px;
}

#demo-title {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    padding-left: 34%;
}

.modal-overlay {
    display: none;
}

.modal-overlay-active {
    display: flex;
}

.button-overlay {
    display: none;
}

.button-overlay-active {
    display: flex;
}

.loader-overlay {
    display: none;
}

.loader-overlay-active {
    display: flex;
}

.overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  opacity: 80%;
  filter: blur(1.50px);
}

.visible {
    display: flex;
}

.invisible {
    display: none;
}

.modal-position {
    position: absolute;
    inset: 0;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form-title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0;
    align-content: center;
}

fieldset {
    border: 1px gray solid rgba(000, 000, 000, 0.1);
    height: 650px;
    width: 450px;
    justify-content: center;
    border-radius: 50px;
    filter: saturate(100%);
    box-shadow: 6px 6px 0 #000;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

}

legend {
    display: none;
}

.form-fields {
    padding-top: 0;
    margin-top: 15px;
}

.form-label {
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-left: 40px;
}

.form-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    justify-content: center;
    border-radius: 30px;
    padding: 15px;
    width: 80%;
    margin-left: 4%;
    padding-left: 30px;
}

.form-redirect {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    padding-left: 40px;
}

.form-submit {
    padding: 20px;
    padding-left: 5%;
    margin: 0;
}

.form-submit-hover:hover {
    opacity: 70%;
}


.submit {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    background-color:white;
    border-radius: 30px;
    margin: 0px;
    padding: 20px;
    width: 400px;
    cursor: pointer;
    border: 0;
}

#login-submit:disabled {
    opacity: 70%;
    cursor: not-allowed;
    animation: none;
    background-color: grey;
}

#register-submit:disabled {
    opacity: 70%;
    cursor: not-allowed;
    animation: none;
    background-color: grey;
}


.bounce {
    background-color: black;
    padding: 30px;
    margin: 0;
    box-sizing: border-box;
    border: 10px 10px gray;
    box-shadow: 1.5px 1.5px 0 gray;
}

#bounce-login {
  font-family: 'Poppins', sans-serif;
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  margin-left: 87%;
  text-decoration: none;
  color: #000000;
  text-align: center;
  justify-content: center;
}

#bounce-profile {
    background: url('../img/circle-user-round.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-left: 95%;
    border: none;
}

#auth-profile {
    width: 150px;
    padding-left: 145px;
}

.auth-a {
    font-family: 'Poppins', sans-serif;
    padding-left: 160px;
    color: white;
}

.bounce-overlay {
    display: none;
}

.bounce-overlay-active {
    display: flex;
}

.bouce-profile:hover {
    cursor: pointer;
}

.bouce-login:hover {
    background-color: gray;
    cursor: pointer;
}


.mid {
    display: flex;
    padding: 69px;
}

.text-decoration {
    text-decoration: none;
}

.text-decoration-show:hover {
    text-decoration: underline;
}

.topics {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
}

.links li a {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.line {
    width: 480px;
    margin: 0;
    margin-left: 0;
    height: 2px;
    background-color: black;
}

.center {}

.low {
    display: flex;
    padding-right: 20px;
    align-items: center;
}

.low-blocks {
    border: solid 5px #000000;
    border-radius: 10px;
    background-color: #000000;
    margin-left: 20px;
    display: inline-block;
}

.animation-scale-hover:hover {
    transform: scale(1.05);
}

.selection:hover {
    cursor: pointer;
    opacity: 70%;
}

.btn-shine {
    position: relative;
    top: 0px;
    margin: 0;
    left: 0px;
    transform: translate(-50%, -50%);
    padding: 10px 5px;
    color: black;
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #000000 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
}

@-moz-keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@-webkit-keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@-o-keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

/* From Uiverse.io by david-mohseni */
.loader {
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 30%;
  top: -20%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}
