
/* ----- Screen ------*/
hrml, body {
  margin: 0;
  width: 100%;
  min-height: 100dvh;
}

body {
    background-color: black;
}

.fullscreen {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    position: absolute;
    bottom: 5dvh;
}

.aside-left {
    position: relative;
    background-color: black;
    margin-right: 30dvh;
    margin-bottom: 100px;
    padding-top: 40dvh;
    padding-bottom: 40dvh;
    border-radius: 30px;
    width: 450px;
}

.aside-left-container {
    position: relative;
    left: 10px;
    bottom: 350px;
}

.aside-links {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    margin-left: 10px;
    align-content: center;
    margin-top: 10px;
    padding: 15px;
    border-radius: 50px;

    transition:
        background-color 0.25s ease,
        color 0.25s ease,
        transform 0.2s ease;

}

.aside-links-img {
    width: 30px;
}

.aside-links:hover {
    position: relative;
    opacity: 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.15);
    transform: translateX(2px);
}

.aside-text-decoration, aside-text-decoration:hover, aside-text-decoration:active, aside-text-decoration:visited, aside-text-decoration:focus {
    color: inherit;
    text-decoration: none;
}

.aside-links-selected {
    font-weight: bolder;
}

.hr-left {
    background-color: gray;
    opacity: 70%;
    border-radius: 30px;
    height: 133dvh;
    position: static;
    margin-right: 50dvh;
}

.aside-right {
    position: relative;
    background-color: black;
    margin-left: 30dvh;
    margin-bottom: 100px;
    padding-top: 40dvh;
    padding-bottom: 40dvh;
    border-radius: 30px;
    width: 450px;
}

.aside-right-container {
    position: relative;
    right: 10px;
    bottom: 350px;
}

.aside-links-right {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    margin-right: 10px;
    align-content: center;
    margin-top: 10px;
    padding: 15px;
    border-radius: 50px;

    transition:
        background-color 0.25s ease,
        color 0.25s ease,
        transform 0.2s ease;
}

.hr-right {
    background-color: gray;
    opacity: 70%;
    border-radius: 30px;
    height: 133dvh;
    position: static;
    margin-left: 50dvh;
    margin-right: 0;
}

.header-content {
    left: 50px;
}

.main-title {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: auto;
    margin: 0%;
    font-size: 200px;
}

.main-title-icon {
    position: absolute;
    right: 170px;
    width: 100px;
}

.main-title-hr {
    position: absolute;
    background-color: white;
    color: white;
    width: 250px;
    margin: 0;
    margin-left: 0;
    height: 3px;
    top: 120px;
    left: 155px;
}

#demo-title {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    padding-left: 34%;
}

.modal-overlay-hidden {
    visibility: hidden;
}

.modal-overlay-visible {
    visibility: visible;
}

.button-overlay {
    display: none;
}

.button-overlay-active {
    display: flex;
}

.loader-overlay {
    display: none;
}

.loader-overlay-active {
    display: flex;
}

.overlay {
  z-index: 1;
  position: fixed;
  inset: 0;
  pointer-events: none;
  opacity: 80%;
  filter: blur(1.50px);
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.text-exception {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    position: absolute;
    color: white;
    top: 20dvh;
    text-align: justify;
    max-width: 25%;
    overflow-wrap: break-word;
}

.modal-position {
    position: absolute;
    inset: 0;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    top: 10dvh;
    left: 75dvh;
}

.form-title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0;
    align-content: center;
}

.fieldset-auth {
    border: 2px gray solid rgba(000, 000, 000, 0.1);
    height: 750px;
    width: 450px;
    justify-content: center;
    border-radius: 50px;
    filter: saturate(100%);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

}

.legend-auth {
    visibility: hidden;
}

.form-fields {
    padding-top: 0;
    margin-top: 15px;
}

.form-label {
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-left: 40px;
}

.form-input {
    width: 80%;
    padding-left: 30px;
    justify-content: center;
    padding: 15px;
    margin-left: 4%;
    border-radius: 30px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 2px gray solid;

    transition:
        border-color 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.2s ease;
}

.form-redirect {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    padding-left: 40px;
}

.form-submit {
    padding: 20px;
    padding-left: 5%;
    margin: 0;
}

.submit {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    background-color: black;
    border-radius: 30px;
    margin: 0px;
    padding: 20px;
    width: 400px;
    cursor: pointer;
    border: 2px gray solid;
    transition: background-color 0.5s ease;
}

.bounce {
    background-color: black;
    padding: 30px;
    margin: 0;
    box-sizing: border-box;
    border: 10px 10px gray;
    box-shadow: 1.5px 1.5px 0 gray;
}

#bounce-login {
  font-family: 'Poppins', sans-serif;
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  margin-left: 87%;
  text-decoration: none;
  color: #000000;
  text-align: center;
  justify-content: center;
}

#bounce-profile {
    background: url('../img/circle-user-round.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-left: 95%;
    border: none;
}

#auth-profile {
    width: 150px;
    padding-left: 145px;
}

.auth-a {
    font-family: 'Poppins', sans-serif;
    padding-left: 160px;
    color: white;
}

.bounce-overlay {
    display: none;
}

.bounce-overlay-active {
    display: flex;
}

.bouce-profile:hover {
    cursor: pointer;
}

.bouce-login:hover {
    background-color: gray;
    cursor: pointer;
}


.mid {
    display: flex;
    padding: 69px;
}

.text-decoration {
    text-decoration: none;
}

.text-decoration-show:hover {
    text-decoration: underline;
}

.topics {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
}

.links li a {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.line {
    width: 480px;
    margin: 0;
    margin-left: 0;
    height: 2px;
    background-color: black;
}

.center {}

.animation-scale-hover:hover {
    transform: scale(1.05);
}

.selection-focus:focus {
    border-color: white;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
    transform: translateY(-1px);
}

.selection-color:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    border-color: white;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}

.selection:hover {
    cursor: pointer;
    opacity: 0.7;
}

.btn-shine {
    position: absolute;
    top: 50px;
    margin: 0;
    left: 0px;
    transform: translate(-50%, -50%);
    padding: 10px 5px;
    color: black;
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #000000 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
}

@-moz-keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@-webkit-keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@-o-keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

/* From Uiverse.io by david-mohseni */
.loader {
  position: absolute;
  z-index: 9999;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loader div {
  z-index: 1;
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 104dvh;
  top: 50dvh;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}
