/* ========== TEXT DECORATION ========== */
.text-decoration {
    text-decoration: none;
}

.text-decoration-show:hover {
    text-decoration: underline;
}

.text-default {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: white;
    font-family: var(--font-poppins);
    font-size: var(--font-lg);
    min-width: 60%;
    max-width: 60%;

    overflow-wrap: break-word;
}

.text-size-lg {
    font-size: 25px;
}

.text-exception {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    position: absolute;
    color: white;
    top: 20dvh;
    text-align: justify;
    max-width: 25%;
    overflow-wrap: break-word;
}

/* ========== SELECTION EFFECTS ========== */
.selection:hover {
  cursor: pointer;
  opacity: var(--opacity-70);
}

.selection-focus:focus {
  border-color: var(--color-white);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
  transform: translateY(-1px);
}

.selection-color:hover {
  color: var(--color-black);
  background-color: var(--color-white);
  cursor: pointer;
  border-color: var(--color-white);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}

.selection-shine:hover {
    border-color: #fff;
    /* Sombra branca, sem deslocamento, bem difusa */
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.6);

}

.selection-shine-focus:focus {
    border-color: #fff;
    /* Sombra branca, sem deslocamento, bem difusa */
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.6);

}

.selection-shine-pulse:hover {
    border-color: white;
    background-color: #3e5871;
    /* Chama a animação 'pulsar' */
    animation: pulsar 2s infinite;
  }

/* ========== ANIMATIONS ========== */
.animation-scale-hover:hover {
  transform: scale(1.05);
}

.modal-animation-close {
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal-animation-open {
  opacity: 1;
}


/* ========== KEYFRAMES ========== */
/* Loader */
@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

@keyframes pulsar {
    0% {
      box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.9);
    }
    100% {
      box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.5);
    }
  }
